<h2 class="center">Architects Of Fate News</h2>
<div class="card">
  <div class="card-content">
    <span class="card-title">December 31</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque itaque dolores eligendi dolore, debitis expedita a accusantium. Odit dignissimos sint sunt quia, hic molestias, pariatur quo mollitia tenetur adipisci esse.</p>
  </div>
</div>

<div class="card">
  <div class="card-content">
    <span class="card-title">December 30</span>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Doloremque itaque dolores eligendi dolore, debitis expedita a accusantium. Odit dignissimos sint sunt quia, hic molestias, pariatur quo mollitia tenetur adipisci esse.</p>
  </div>
</div>