<div class="card">
  <div class="card-content">
    <h3 class="center-align">Members</h3>
    <table class="centered">
      <thead>
        <tr>
          <th>Username</th>
          <th>Join Date</th>
        </tr>
      </thead>
      <tbody>
        <% @members.sort_by{|member| member.username}.each do |member| %>
          <tr>
            <% if member.username %>
              <td><%= link_to member.username, user_path(member) %></td>
              <td><%= member.created_at.strftime("%B %d, %Y") %></td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>